body {
    background-color: #181818;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #3A3B3C;
    z-index: 1;
    position: relative;
    border-bottom: 2px solid #686868;
}

.header-item {
    flex-grow: 1;
    flex-basis: 0;
}

.logofb {
    width: 40px;
    vertical-align: middle;
}

.kolotopmid {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.kolotopright {
    display: flex;
    gap: 5px;
    justify-content: right;
}

.kolotopmid img,
.kolotopright img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    vertical-align: middle;
}

.main3 {
    display: flex;
    justify-content: space-between;
}

.main3 li {
    margin-bottom: 10px;
}

.grafiki li {
    display: inline-block;
}

.grafiki img {
    height: 250px;
}

.twojeskroty {
    position: relative;
    margin-top: 40px;
    color: #909090;
}

/*.granica1 {
    display: block;
    width: 190px;
    border-bottom: 1px solid #404040;
    position: absolute;
    margin: 0;
    margin-left: 0;
    margin-top: 0;
}*/

/* lewa */
/*.granica2 {
    display: block;
    width: 230px;
    border-bottom: 1px solid #404040;
    position: absolute;
    margin: 10px;
    margin-left: -35px;
    margin-top: -15px;
}*/

/* prawa górna */

/*.granica3 {
    display: block;
    width: 230px;
    border-bottom: 1px solid #404040;
    position: relative;
    margin: 10px;
    margin-left: -35px;
    margin-top: -15px;
}*/

/* prawa dolna*/

/*.granica4 {
    display: block;
    width: 380px;
    border-bottom: 1px solid #404040;
    position: absolute;
    margin-left: 15px;
    margin-top: 40px;
}*/

/* środkowa górna*/

/*.granica5 {
    display: block;
    width: 380px;
    border-bottom: 1px solid #404040;
    position: absolute;
    margin-left: 510px;
    margin-top: -285px;
}*/

/* środkowa dolna*/

.przelacz {
    position: relative;
    font-size: x-small;
    color: #909090;
}

.utworz {
    position: relative;
    font-size: x-small;
    color: #909090;
}

.prawogora {
    position: relative;
    color: #909090;
}

.dolstrony {
    position: relative;
    margin-left: 250px;
}

.dol1 {
    position: relative;
    font-size: xx-small;
    color: #909090;
}

.dol2 {
    font-size: xx-small;
    color: #909090;
}

.midblock {
    display: block;
    position: relative;
    margin-left: 500px;
    margin-top: 10px;
    width: 410px;
    height: 80px;
    background-color: #282828;
    border-radius: 5px;
}

.inmidblock {
    display: block;
    position: relative;
    margin-left: 550px;
    margin-top: -70px;
    width: 350px;
    height: 25px;
    background-color: #484848;
    border-radius: 28px;
}

.inmidblocktekst {
    position: relative;
    font-size: x-small;
    color: #888888;
    margin-left: 560px;
}

.midblockbottom {
    display: block;
    position: absolute;
    background-color: #282828;
    width: 410px;
    height: 480px;
    margin-left: 500px;
    border-radius: 5px;
}

.transmisja {
    position: absolute;
    font-size: x-small;
    margin-top: 235px;
    margin-left: 535px;
    color: #A8A8A8;
}

.zdjecie {
    position: absolute;
    font-size: x-small;
    margin-top: 235px;
    margin-left: 690px;
    color: #A8A8A8;
}

.nastroj {
    position: absolute;
    font-size: x-small;
    margin-top: 235px;
    margin-left: 800px;
    color: #A8A8A8;
}

.oznaczono {
    position: absolute;
    color: #B0B0B0;
    font-size: x-small;
}

.randoma {
    color: white;
}

.jakubrandom {
    position: absolute;
    color: #B0B0B0;
    font-size: x-small;
}

.zawijany {
    position: absolute;
    display: block;
    width: 390px;
    height: 65px;
    overflow-block: visible;
    color: #D0D0D0;
    font-size: x-small;
}

.godz5 {
    font-size: xx-small;
    position: absolute;
    color: #B0B0B0;
}

.sowa {
    position: absolute;
    width: 410px;
}

/* Zawijany tekst w centrum strony */

@media (max-width: 900px) {
    * {
        border: 1px solid red;
    }
}